{% extends 'layouts/_base.html' %}

{% block title %}{% if site_title %}{{ site_title }}{% endif %}
{% if page_title %}{{ page_title }}{% endif %}{% endblock title %} 

{% block body %}<body class="bg-slate-600">
  <div class="container mx-5 my-10">
    <div class="py-8 px-8 max-w-sm mx-auto bg-green-500 rounded-xl shadow-lg space-y-2 
                sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
      <img 
        class="block mx-auto h-24 
               rounded-full 
               sm:mx-0 sm:shrink-0" 
        src="https://tailwindcss.com/img/erin-lindford.jpg" 
        alt="Woman's Face">
      <div class="text-center space-y-2 sm:text-left">
        <div class="space-y-0.5">
          <p class="text-lg text-black font-semibold">
            Erin Lidsfdsadfddford
          </p>
          <p class="text-slate-500 font-medium">
            Product Engineerads
          </p>
        </div>
        <button class="my-button">Message</button>
      </div>
    </div>
  </div>
{% endblock body %}

{% block defer-script %}{% endblock defer-script %}